In [38]:
import spacy
nlp = spacy.load("en_core_web_sm")

In [39]:
import pandas as pd

In [40]:
df= pd.read_csv("Reviews.csv")

In [41]:
df=df.drop(['Id','ProductId','UserId','ProfileName','HelpfulnessNumerator','HelpfulnessDenominator','Time','Summary'],axis='columns')

In [42]:
df.isna().sum()
df.shape

(568454, 2)

In [43]:
df.dropna(inplace=True)

In [44]:
df.duplicated().sum()

174779

In [45]:
df.drop_duplicates(inplace=True)

In [46]:
df['Score'].value_counts()/len(df)*100

Score
5    63.693402
4    14.243729
1     9.215724
3     7.562583
2     5.284562
Name: count, dtype: float64

In [47]:
df = df.groupby('Score', group_keys=False).apply(lambda x: x.sample(10000)).reset_index(drop=True)

C:\Users\karan\AppData\Local\Temp\ipykernel_12116\3249606308.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df = df.groupby('Score', group_keys=False).apply(lambda x: x.sample(10000)).reset_index(drop=True)

In [48]:
df.reset_index(drop=True, inplace=True)
k = len(df)  # Ensure k matches the number of rows in df
df.index = range(1, k + 1)

In [49]:
import numpy as np
df['Score'].unique()

array([1, 2, 3, 4, 5], dtype=int64)

In [50]:
df['X'] = df['Text']

In [51]:
df=df.drop(['Text'],axis='columns')

In [52]:
score_mapping = {1: 0, 2: 0, 3: 1, 4: 2, 5: 2}

# Apply the mapping
df['Score'] = df['Score'].map(score_mapping)
df

       Score                                                  X
1          0  I was disappointed when I recieved this set, w...
2          0  I wish I would have read the reviews BEFORE pu...
3          0  This is NOT worth the money I spent on this. I...
4          0  I followed a corn tortilla recipe to the "T" a...
5          0  I thought I was getting natural flavorings but...
...      ...                                                ...
49996      2  My Mom loves this gum and can't find it in sto...
49997      2  <a href="http://www.amazon.com/gp/product/B001...
49998      2  You might think that a collection of rice bowl...
49999      2  I do not like plain peanuts, but I love these ...
50000      2  Great tasting coffee. handy serving sizes are ...

[50000 rows x 2 columns]

In [53]:
# #This will take some time(nearly 15 minutes)
# df['vector'] = df['X'].apply(lambda text: nlp(text).vector)

In [54]:
nlp = spacy.load("en_core_web_lg", disable=["parser", "ner"])
texts = df['X'].tolist()
vectors = [doc.vector for doc in nlp.pipe(texts)]
df['vector'] = vectors

In [55]:
df.to_csv("text_with_vectors_3.csv", index=False)
df.head()

,Score,X,vector
1,0,"I was disappointed when I recieved this set, w...","[-0.056058902, 0.17330012, -0.12358754, -0.120..."
2,0,I wish I would have read the reviews BEFORE pu...,"[-0.007365008, 0.21327691, -0.20311561, -0.151..."
3,0,This is NOT worth the money I spent on this. I...,"[-0.036846027, 0.16704358, -0.1643408, -0.0833..."
4,0,"I followed a corn tortilla recipe to the ""T"" a...","[-0.057702072, 0.26382774, -0.17904757, -0.115..."
5,0,I thought I was getting natural flavorings but...,"[-0.051626556, 0.17255972, -0.19570194, -0.137..."